In [2]:
import pandas as pd

In [3]:
script1 = pd.read_csv('friends_info.csv')
script2 = pd.read_csv('friends_quotes.csv')

It seems like these 2 datasets are cleaned already

In *script1*, there're only 2 rows with null values, which are also 2 special episodes of friends. Hence, it makes sense that there are no Directors/ Screenwriter or Summary for those 2. 

In *script2*, there is no row with null values

In [4]:
nan_values_info = script1[script1.isna().any(axis=1)]
nan_values_info

,Date,Episode,Title,Directed by,Written by,Duration,Summary,Rating/Share,U.S. viewers,Prod.\ncode
156,02/15/01,Special,Friends: The Stuff You've Never Seen,NaN,NaN,NaN,NaN,14.4/21,22.50 million,NaN
227,05/06/04,Special,The One Before the Last One:\nTen Years of Fri...,NaN,NaN,NaN,NaN,22.0/35,36.89 million,NaN

In [5]:
nan_values_quotes = script2[script2.isna().any(axis=1)]
nan_values_quotes

Empty DataFrame
Columns: [author, episode_number, episode_title, quote, quote_order, season]
Index: []

They both seem to not have any duplicates either

In [6]:
script1[script1.duplicated(keep=False)]

Empty DataFrame
Columns: [Date, Episode, Title, Directed by, Written by, Duration, Summary, Rating/Share, U.S. viewers, Prod.
code]
Index: []

In [7]:
script2[script2.duplicated(keep=False)]

Empty DataFrame
Columns: [author, episode_number, episode_title, quote, quote_order, season]
Index: []

# 1. Fun facts about Friends